[user]
  name = Gergő Sulymosi
  email = gergo.sulymosi@gmail.com
[color]
  ui = auto
[core]
  editor = 'nvim'
  excludesfile = ~/.gitignore-global
  autocrlf = input
  quotepath = false
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  ignorecase = true
  precomposeunicode = true

[merge]
  ff = only
  # I pretty much never mean to do a real merge, since I use a rebase workflow.
  # Note: this global option applies to all merges, including those done during a git pull
  # https://git-scm.com/docs/git-config#git-config-mergeff

[branch]
  autosetuprebase = always

[branch "master"]
  remote = origin
  merge = refs/heads/master

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[diff "filestat"]
  textconv = stat

[alias]
  aa= !git add -u && git add . && git status -s
  b = branch
  c = commit --verbose
  ca = commit --amend -C HEAD
  co = checkout
  cob = checkout -b
  corb = "!f() { git fetch --all; git checkout -b $1 origin/$1; }; f"
  d = diff
  f = fetch
  fall = fetch --all --prune
  lg = log --graph --pretty=format:'%C(red)%h%C(reset) -%C(magenta)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit -30
  p = push
  pf = push --force-with-lease
  s = status --short --branch

  branches = "!f() { git branch -a -v | grep -v '/pr/'; }; f"
  collaborators = shortlog -n -s --no-merges
  ctags = !.git/hooks/ctags
  list-aliases = "!git config -l | grep alias | cut -c 7-"
  ls-ignored = ls-files --exclude-standard --ignored --others
  message = log --format=%B -n 1
  remotes = remote -v
  staged = diff --cached            # diff staged changes
  tags = tag -l
  unchanged = update-index --assume-unchanged
  uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state
  unstage = reset                   # remove files from index (tracking)
  wip = commit -m 'WIP [skip ci]'
[heroku]
  account = personal
[tig]
[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[push]
  default = simple
[init]
  templatedir = ~/.git_templates
[pull]
  ff = only
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge --skip %f
  required = true
[credential "https://github.com"]
	username = trekdemo
[commit]
	template = ~/.gitmessage
[remote "origin"]
	push = HEAD
