/vim/tmp
/.DS_Store
/vim/bundle
/xconfig/fish/fish_history
/xconfig/fish/fishd.*
/vim/.netrwhist
/xdg_config/.config/nvim/.netrwhist
/xdg_config/.config/nvim/plugged
/xdg_config/.config/nvim/autoload/plug.vi*
/xdg_config/.config/nvim/.init.vim-rplugin~
/xdg_config/.config/gcloud
/xdg_config/.config/hub
/xdg_config/.config/configstore
/xdg_config/.config/heroku
/xdg_config/.config/fish/conf.d/secrets.fish
/xdg_config/.config/fish/fishd.*
/xdg_config/.config/yarn/global
/Procfile.local
/.vagrant
/tmux_config/plugins
/tmux_config/resurrect
/tmux/.tmux/resurrect/*
/tmux/.tmux/plugins/tmux-*
