/.DS_Store
/alacritty.info
/Procfile.local
/tmux/.tmux/plugins/*
/terminfo/.terminfo/*
!/terminfo/.terminfo/src
^/tmux/.tmux/plugins/tpm
/xdg_config/.config/configstore
/xdg_config/.config/fish/fish_variables
/xdg_config/.config/fish/fish_history
/xdg_config/.config/fish/fishd.*
/xdg_config/.config/fish/fisher-pkg/*
!/xdg_config/.config/fish/fisher-pkg/fishfile
/xdg_config/.config/fisher
/xdg_config/.config/gcloud
/xdg_config/.config/heroku
/xdg_config/.config/hub
/xdg_config/.config/nvim/.init.vim-rplugin~
/xdg_config/.config/nvim/.netrwhist
/xdg_config/.config/nvim/autoload/plug.vi*
/xdg_config/.config/nvim/plugin/packer_compiled.lua
/xdg_config/.config/yarn/global
/xdg_config/.config/telepresence
/xdg_config/.config/gh/hosts.yml
/xdg_config/.config/gh/state.yml
/xdg_config/.config/cliptic/*
/executables/bin/cw
/executables/bin/brian
