/vim/tmp
/.DS_Store
/vim/bundle
/xconfig/fish/fish_history
/xconfig/fish/fishd.*
/vim/.netrwhist
/xconfig/nvim/.netrwhist
/xconfig/nvim/plugged
/xconfig/nvim/autoload/plug.vi*
/xconfig/nvim/.init.vim-rplugin~
/xconfig/gcloud
/xconfig/hub
/xconfig/configstore
/xconfig/heroku
/xconfig/fish/conf.d/secrets.fish
/xconfig/yarn/global
/Procfile.local
/.vagrant
/tmux_config/plugins
/tmux_config/resurrect
