# Random
alias vim="mvim -v"
alias pryr='pry -r ./config/environment.rb'
alias collapse="sed -e 's/  */ /g'"
alias cuts="cut -d' '"
alias clc="./get-last-commit-url.py | pbc"
alias count="sort | uniq -c | sort -n"
alias rrg="rake routes | grep"
alias :q="exit"
alias tl="tail -f log/development.log"
alias sl='afplay ~/bin/train.wav & /usr/local/bin/sl'
alias bd=". bd -s"
alias please="sudo !!"
alias hosts='sudo $EDITOR /etc/hosts'
alias sshconfig='$EDITOR ~/.ssh/config'
alias currentwifi="networksetup -getairportnetwork en0"
alias week='date +%V'

# PSQL commands
alias psql-connect-development='psql `basename $PWD`_development'
alias psql-connect-test='psql `basename $PWD`_test'
alias psql-connect='psql-connect-development'

# Bundler aliases
alias be="bundle exec"
alias bi="bundle install"
alias bl="bundle list"
alias bp="bundle package"
alias bu="bundle update"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

alias bower='noglob bower'

pman() {
  man -t "${1}" | open -f -a /Applications/Preview.app
}

# alias fos='foreman start'
fos() {
  if [ -f Procfile.local ]; then
    foreman start --env='.env.development,.env' -f Procfile.local
  else
    foreman start --env='.env.development,.env'
  fi
}

# Checks port number to see what service is attached
function port2service() {
	lsof -i -P | grep $1
}
